.contenedorMain{
    background-color: rgb(235, 235, 235);
}

.orden{
    background-color: rgb(0, 0, 0);
    margin: auto;
}

.logoLogin{
    display: grid;
    height: 150px;
    width: 250px;
    margin: auto;
}

.textoH2{
    display: grid;
    margin: auto;
    font-family: cambria;
    font-size: xx-large;
    margin-left: 130px;
    color: rgb(255, 255, 255);
    justify-content: center;
}

.inputs{
    background-color: rgb(235, 235, 235);
    width: 700px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.contenedorSelectGuardar{
    display: flex;
    flex-direction: 100px 100px;
    background-color: rgb(235, 235, 235);
    width: 250px;
    margin: auto;
}

.inputTexto{
    width: 300px;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 3px;
    margin-left: 100px;
}

.inputFecha{
    width: 300px;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 3px;
    margin-left: 100px;
}

.seleccionar{
    width: 70px;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 3px;
    margin-left: 18px;
}

.botonGuardar{
    width: 120px;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 3px;
    margin-left: 18px;
}

.tareasEventos{
    background-color: rgb(235, 235, 235);
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: auto;
}

.tareas{
    font-family: cambria;
    background-color: rgb(255, 255, 255);
    border-color: black;
    border-style: groove;
    border-radius: 10px;
    border-width: 4px;
    width: 500px;
    margin: auto;
}

.eventos{
    font-family: cambria;
    background-color: rgb(255, 255, 255);
    border-color: black;
    border-style: groove;
    border-radius: 10px;
    border-width: 4px;
    width: 500px;
    margin: auto;
}

.textoTareas{
    margin-left: 30px;
}

.textoEventos{
    margin-left: 30px;
}
























